#container{
	margin: auto;
	width: 1000px;
	display: grid;
	grid-template-areas: 
	'menu menu menu menu menu'
	'banner banner banner banner banner'
	'commando commando max binnen binnen'
	'commando commando max binnen binnen'
	'griep zon schandaal binnen binnen'
}
#menu{
	grid-area: menu;
}
#banner{
	grid-area: banner;
}
#commando{
	grid-area: commando;
}
#max-verstappen{
	grid-area: max;
}
#net-binnen{
	grid-area: binnen;
}
#griepvaccin{
	grid-area: griep;
}
#schandaal{
	grid-area: schandaal;
}
#zonovergoten{
	grid-area: zon;
}